# Environment and Secrets
.env
.env.key.json

# Virtual Environment
venv/
ENV/
bin/
lib/
include/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.mypy_cache/
.pytest_cache/

# Project Specific
v2/report_output/
v2/tools/__pycache__/
v1/venv/
v1/__pycache__/
v1/data/private/

# OS files
.DS_Store
Thumbs.db
